
/* =================================
   ======= Import ========
   ================================
*/
@import url('validjs/valid.css');
@import url('layout/navbar.css');
@import url('layout/grid.css');
@import url('layout/button.css');
@import url('layout/form.css');


 /* =================================
   ======= Import ========
   ================================
*/
/*
	Base-color: #bd1818
	border-color: #b51818;
*/

body {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
	color: #333;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}
.text-center {
  text-align: center;
}
img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
p {
	font-size: 18px;
	line-height: 2em;
	color: #5c6873;
	letter-spacing: 2px;
	margin: 0 0 10px;
}
video {
  display: inline-block;
  vertical-align: baseline;
}
h1 {
    font-size: 36px;
}
h1, h2, h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
} 
h1 {
    margin: .67em 0;
}
input {
	color: #fff;
}
label {
	color: #fff;
}
textarea {
  height: auto !important;
}
.list-group-item {
   	 position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}
/* ============== ENd Global ================= */

/*=========== Error & Success Message ==================== */
.redirect {
	background-color: #940c0c;
	color: #fff;
	font-size: 17px;
	padding: 20px 10px;
	letter-spacing: 2px;
}
.errorL {
	padding: 20px 0;
	margin: 20px 0;
	background-color: #bd1818;
}
.errorL {
	color: #fff;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}
.success {
	padding: 20px 0;
	margin: 20px 0;
	background-color: green;	
	color: #fff;
	letter-spacing: 2px;
	font-size: 40px;
	text-transform: uppercase
}
/*===== Start Form Login=============*/
textarea,
input,
button,
a
 {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
body.index{
	height: 100%;
	width: 100%;
	background-image: url(../images/login2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.login-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 40px 30px;
    max-width: 400px;
    min-height: 300px;
}

.user {
  position: absolute;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  top: calc(-100px/2);
  left: calc(35%);
}
.login {
    width: 300px;
}
.login h1 {
	padding-top: 20px;
	margin-bottom: 60px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
::placeholder  {
	color: #dedada !important;
	opacity: 0.9;
}
.login input {
    margin-bottom: 50px;
    color: #fff;

}

.line {
	width: 50px;
	height: 3px;
	margin:-50px auto 40px auto;
}
.form-control {
    background-color: transparent !important;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form-control:focus {
  border-color: #b51818;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(208, 23, 23, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(208, 23, 23, .6);
}
.login .btn {
	margin-top: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;font-weight: bold;
    border-radius: 0;
    padding: 15px 14px;
}
 .login a {
 	text-decoration: none;
 }
/*============== End Form Login ==================*/

/* ========================= End Navbar ====================== */
/* ============== Start Header ============== */
.header {
	background-image: url('../images/header.jpg');
	background-size: cover;
	height: 700px;
	width: 100%;
}
.header .text h2 {
	color: #fff;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.header .text h2 span {
	letter-spacing:2px;
}
.header .text h2 span b {
	letter-spacing:8px;
}
.header .text {
	padding: 300px 0;
}
/* ============== End Header ============== */

/* ============== Start Abou-Us ============== */

	.about-us {
		margin: 90px 0;
	}
	.about-us .line {
    	margin: -25px 0px 40px 41px;
    	width: 50px;
	}
	.about-us h2 {
		font-size: 30px;
		text-transform: uppercase;
		padding-bottom: 30px;
	}
	.about-us p {
		font-size: 18px;
		line-height: 2em;
		letter-spacing: 2px;
	}
	.about-us .content {
		 margin: 60px 0;
	}
	.about-us .content .col-md-6 {
		padding-right: 40px
	}
	.about-us .overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);

	}
	.about-us .img {
		background-image: url(../images/about-us4.jpg);
		height: 500px;
		background-size: cover;
		background-position: center;
		max-width: 100%;
	}
/* ============== End Abou-Us ============== */
/* ============== Start Scheduling Features ================= */
.features {
	background-color: #f5f5f5;
	padding: 60px 0;
}
.features .line {
	margin: 1px auto 40px auto;
}
.features .content {
	padding: 30px 0;
}
.features .content h2 {
	letter-spacing: 1.5px;

}
.features .content .line {
	margin: 1px 0 50px 0;
	width: 100%;
}
.features .content p {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 30px;
}
.features video {
	max-width: 100%;
    height: auto;
    background-color: #f5f5f5;
}
.features .btn {
	margin-top: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 20px 45px;
    border-radius: 50px;
    width: 250px;
   	margin: 0 auto;
   	color: #fff;
}

/* ============== End Scheduling Features ================= */
/* ============== Start Services ============== */

.services {
    padding-top: 30px;
    padding-bottom: 40px;
}
.services h1 {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
}
.services p {
    font-size: 17px;
    color: #5c6873;
}
.services .line {
    margin: 4px auto 70px auto;
}

.services .col-md-4{
    padding-bottom: 30px;
}

.services .col-md-4:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);   
}
.services .box-serv i {
    margin-top: 40px;
}
.services .box-serv h2,
.services .box-serv i
{
    margin-bottom: 20px;
}
@media(max-width: 780px) {
	.services {
		text-align: center;
	}
} 

/* End: services*/
/* ============== End Services ============== */
/* ========================= Start Comment ================== */
.comment { 
	background:url('../images/about-us.jpg') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
.comment .fields { 
	background:rgba(0,0,0,0.5);
	min-height:300px;
	color:#ddd;
	padding-top:40px;
	padding-bottom:40px;
}
.comment p { 
	margin-bottom:40px;
	color: #8a949c 
}
.comment .line {
	    margin: -18px auto 40px auto;
}
.comment textarea { 
	height:108px;
}
.comment input[type="text"],
.comment textarea {
	background:transparent;
	color:#fff;
	border:none;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
	-webkit-transition:all 0.7s ease-in-out;
	-moz-transition:all 0.7s ease-in-out;
	-o-transition:all 0.7s ease-in-out;
	transition:all 0.7s ease-in-out;
}
.comment textarea { 
	margin-top: 25px
}
.comment .form-control:focus {
  outline: 0;
 
}
.comment .fields button { 
	color: #fff;
	padding: 10px 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top:20px;
    margin-top: 30px;
	-webkit-transition:all 0.7s ease-in-out;
	-moz-transition:all 0.7s ease-in-out;
	-o-transition:all 0.7s ease-in-out;
	transition:all 0.7s ease-in-out;
}
input[type="text"]:focus, textarea:focus {
	border-bottom: 1px solid transparent !important
}
/*-------------------------------------------
  vip-section
-------------------------------------------*/


.our-clients-section{
/*margin-bottom:2.143em; */  
padding:2.143em 0;
overflow: hidden;
background: #ffffff;
box-shadow: 0px 8px 20px rgba(85, 89, 93,0.2);
-webkit-box-shadow: 0px 8px 20px rgba(85, 89, 93,0.2);
-moz-box-shadow: 0px 8px 20px rgba(85, 89, 93,0.2);
}
.our-client-thumb{
padding: 0 30px;
text-align: center;
}
.vip-customer .line {
    width: 70px;
    height: 3px;
    margin: 15px auto 39px auto;
}
/*--------------------------------------------*/
/* ================ Start Vacation =================== */
/*-----------------------------------------------
   Vacation Section
------------------------------------------------*/
body.vac {
	/*background-color: rgba(51, 51, 51, 1);*/
	background-image: url(../images/vacation3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.vacation  {
	margin-right: 16%;
	margin-top: 50px;
	max-width: 100%;
	padding: 50px;
}
.vacation input,
.vacation textarea {
	margin-bottom: 50px;
}
.vacation .c-main {
	margin-top: 10px;
}
.vacation ::placeholder {
	font-size: 12px;
}
.vacation .content-form {
	max-width: 100%;
	min-height: 705px;
	background: #333;
	background: url('../images/about-us.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	-webkit-box-shadow: 2px 10px 21px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 10px 21px 5px rgba(0,0,0,0.75);
	box-shadow: 2px 10px 21px 5px rgba(0,0,0,0.75);
	background-color: rgba(51, 51, 51, 0);
}
.vacation .content-form h1{
    color: #fff;
    padding: 20px;
    font-style: 25px;
}

 .vacation .personal .line {
 	margin: 2px auto 40px 71px;
 	background-color: #333
 }
.vacation .content-form button {
    font-size: 15px;
    letter-spacing: 1.5px;
    padding: 20px 60px;
    border-radius: 50px;
    color: #fff;
   	margin-top: 100px;
   	margin-bottom: 20px;
    margin-left: 0px;
	-webkit-box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
	box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
}
.vacation .content-form button:hover {
	background-color: #333;
	border-color: #333;
	color: #fff;
}
.vacation .content-form select {
    max-width: 275px;
    padding:10px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #f00;
    font-size: 20px;
    letter-spacing: 2px;
}
.vacation .content-form select:focus {
	outline: none;
}

.vacation .content-form option {
    color: #fff;

    background-color: #333;
    border: none;
    font-size: 15px;
    margin-top: 26px;
    line-height: 10px;
}
.vacation .content-form option:hover {
	background-color: #f00;
}
.vacation .content-back { 
    background-color:#f5f4f4;
   	min-height: 1330px;    
   	overflow: hidden;
   	border-radius: 4px;
	-webkit-box-shadow: 1px 10px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 10px 4px 0px rgba(0,0,0,0.75);
}
.vacation .content-back .box {
	margin: 120px 0  60px 0;
}
.vacation .content-back .list-group-item {
	border: none;
	background-color: transparent;

}
.vacation .personal {
	padding-bottom: 20px;
}

.vacation .content-back .list-group span {
	font-weight: bold;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}
.vacation .content-back .list-group .b1:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #333;
    transform: rotate(45deg);
    top: 5px;
    left: 188px;	
    font-weight: bold;
}
.perm .content-back .list-group .b1:after {
	left: 210px;
}
.vacation .content-back h1 {
    font-size: 25px;
    padding: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    font-weight: bold;
}
.vacation .line {
    height: 3px;
    width: 72px;
    margin: -17px auto 40px auto;
}
.vacation .content-back .b:after{
	content: "";
	position: relative;
	width: 0;
 	left: 40%;
	height: 0;
	border-top: 30px solid #333;
	border-bottom: 30px solid  transparent;
	border-right:  30px solid  transparent;
	border-left:  30px solid  transparent;
	
}
.vacation .content-back .h3{
	margin: 16px auto 40px 69px;
}
 .vacation .content-back h3 {
 	text-transform: uppercase;
 	font-size: 25px;
 	font-weight: bold;
 	margin-left: 15px;
 }
.vacation .content-back .list-group p {
	   	float: right;
	    font-size: 17px;
	    font-weight: bold;
	    letter-spacing: 2px;
	    line-height: 1.5em;
}
.vacation .btn {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
	border-color: #333;
    background-color: #333;
    padding: 20px 60px;
    border-radius: 50px;
    color: #fff;
    margin-top: 507px;;
   	margin-bottom: 20px;
    margin-left: 0px;
	-webkit-box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
	box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
}
.vacation .btn:hover,
.vacation .btn:focus {
	border-color: #b51818;
    background-color: #b51818;
}
.vacation .home {
	top: 30px;
	text-align: center;
	 margin-bottom: 50px;
}
@media(max-width: 640px) {
	.vacation .content-back .list-group .b1:after {
		display: none;
	}
	.vacation .content-back .list-group p {
		float: unset;
	}
	.vacation .content-back .list-group span {
		font-size: 25px;
		letter-spacing: 2px;
		font-weight: bold;
	}
	.vacation .content-back .list-group-item {
		text-align: center;
	}
}
@media(min-width:450px) and (max-width: 650px){
	.vacation .btn,
	.vacation .content-form button {
		padding: 15px 30px;
		text-align: center;
		font-size: 15px;
		float: unset;
	}
	.vacation .home  {
		text-align: center;
		float: unset;
	}
	.vacation .content-form select {
		font-size: 14px;
	}
}
@media(max-width: 450px) {
	.vacation .btn,
	.vacation .content-form button {
		padding: 10px 20px;
		text-align: center;
		font-size: 13px;
		float: unset;
	}
	.vacation .content-form select {
		font-size: 11px;
	}
}
.permission .content-form select {
	width: 300px;
}
.vacation .cal1 {
    cursor: pointer;
    position: absolute;
    top: 12%;
    left: 87%;
}
.vacation .cal2 {
    cursor: pointer;
    position: absolute;
    top: 14%;
    left: 87%;
}
.vacation .m {
	margin-bottom: 150px;
}
/* -----------------------------------------
	Start: Input Focus Tricks
-------------------------------------------- */
label {
  color:#fff;
  position: absolute;
  transition:0.5s all ease-in-out;
}
.togg {

top:50%;
opacity:0.5;
left:10px; 
}
.togg1 {
top:0;
left:0;
}


/*-----------------------------------------------
    End: Vacation Section
------------------------------------------------*/
/*----------------------------------------------
	Start: Report Section
------------------------------------------------*/
.editb {
  background-image: url('../images/about-us.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.editb .navbar-default {
  top: 0
}
.report {
  margin-right: 16%;
  max-width: 100%;
  padding: 100px 50px 50px 50px;		
}
.report input,
.report textarea {
  margin-bottom: 50px;
}
.report .c-main {
  margin-top: 10px;
}
.report ::placeholder {
  font-size: 12px;
}
.report h1 {
  padding: 0 50px;
  color: #fff;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.report .line {
  width: 68px;
  margin: 18px auto 40px auto;
}
.report h5  {
    color: #fff;
    margin-left: 13px;
    letter-spacing: 2px;
    font-size: 19px;
    margin-bottom: 40px;
}
.report form .line {
  margin:-11px auto 40px 86px;
}
.report form .line2 {
  margin:-11px auto 40px 66px;
}
.report label {
    opacity: 0.3;
    font-size: 15px;
    letter-spacing: 2px;
    position: static;
}
.report input.fix {
  margin-top: 10px;
}
.report .home1 .btn {
    font-size: 15px;
    letter-spacing: 1.5px;
    padding: 20px 60px;
    border-radius: 50px;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 90px;
    margin-left: 0px;
  -webkit-box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 10px 8px 2px rgba(0,0,0,0.75);
}
.report .home1 .btn:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.report .content-form select {
    width: 275px;
    padding:10px;
    margin-top: 15px;
    margin-bottom: 50px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    letter-spacing: 2px;
}
.report .content-form select:focus {
  outline: none;
}

.report .content-form option {
    color: #fff;
    background-color: #333;
    border: none;
    font-size: 15px;
    margin-top: 26px;
    line-height: 10px;
}
.report .content-form option:hover {
  background-color: #f00;
}
.report .vacInput {
	margin-top: 10px;
}
.report .content-form {
    position: absolute;
    top: 40%;
    left: 12%;
    max-width: 100%;
    max-width: 1000px;
    height: auto;
    -webkit-box-shadow: 2px 10px 21px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 21px 5px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 21px 5px rgba(0,0,0,0.75);
    background-color: rgba(0, 0, 0, 0.4);
}
@media(min-width: 991px) and (max-width: 1150px) {
	.report .content-form {
		position: relative;
		left: 0;
		max-width: 800px;
	}

}
/*------------------------------------------------
	letters type Effect Style
--------------------------------------------------*/
.cd-headline.type .cd-words-wrapper.selected {
	background-color: transparent;
}
/*-----------------------------------------------------
		Start: scheduling Page
-----------------------------------------------------*/
.schPage {
	margin: 60px 0;
}
.schPage video {
	max-width: 100%;
	margin-bottom: 60px;
}
.schPage h2 {
	margin: 90px auto 60px auto;
	font-size: 35px;		
	letter-spacing: 2px;
	color: #7b7878;
	font-weight: inherit;

}

.schPage .line {
	margin: -29px auto 90px auto;
	width: 150px;
}
@media(min-width: 770px) and (max-width: 1000px) {
	.schPage h2 {
		margin-left: 20px;
	}
}

@media(min-width: 500px) and (max-width: 770px) {
	.schPage h2 {
		margin-left: 60px;
		font-size: 25px;
	}
}
/* ====================== Start header Section ================= */ 
.sch h2 {
	font-size: 35px !important
}
/* ====================== Start Spend Section ================= */
.spend {
	margin: 60px 0;
}
.spend.container {
	padding-right: 5px;
	padding-left: 5px;
}
.about-us.spend .img {
	background-image: none;
	height: 500px;
	background-size: cover;
	background-position: center;
	max-width: 100%;
}
.circle-img 
.spend .content {
	padding-right: 0;
}
.spend .circle-img {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    position: absolute;
}
.spend .main-img {
    width: 266px;
    height: 266px;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
}
.circle-img .circle-overlay {
    left: 0;
    top: 0;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    position: absolute;
}
.spend p {
	 font-family: "Times New Roman", Times, serif;
	 font-size: 20px;
}
.spend h2 {
	font-size: 30px;
	font-weight: initial;
	letter-spacing: 2px;
	color: #333;
	padding-bottom: 10px;
}
/*======================== Start Prop ========================*/
.prop {
	margin: 60px 0;
}
hr.prop {
	margin-top: 20px;
    margin-bottom: -20px; 
    border: 0;
    border-top: 1px solid #a2a1a1;
    margin-right: 60px;
    margin-left: 60px;
}
.prop p {
	margin-bottom: 30px;
}
.prop .content:nth-child(1) {
	margin-top: 60px;
}
.prop .content {
	margin-bottom: 90px;
	border-bottom: 1px solid #a2a1a1;
}
.prop h3 {
	color: #1f1f1f;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.prop p {
	font-size: 15px;
}

/* ========================== Start: Section Fill =================== */
.fill {
	margin: 30px 0;
}
.fill .container {
	padding-right: 0;
	padding-left: 0;
}
.fill .content1 {
	margin-top: 100px;
}
.fill h2 {
	font-size: 45px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	 font-family: "Times New Roman", Times, serif;
}
.fill p {
	line-height: 1.5em
}
.fill hr {
	margin-top: 0px;
    margin-bottom: 40px;
    width: 100%; 
    border: 0;
    border-top: 2px solid #a2a1a1;
}
/* ====================== Start: Section qulified ========================= */
.qulified .content1 {
	margin-bottom: 60px;
	border-bottom: 2px solid #a2a1a1;
	min-height: 210px;
}
.qulified h2 {
 	font-size: 23px;
 	letter-spacing: 4px;
 	color: #333;
 	margin-bottom: 30px;
}
.qulified p {
	font-size: 14px;
	line-height: 2em;
	margin-bottom: 10px;
}

/* ====================== Start: Shift schedule Section =================== */
.sched {
	margin: 60px 0;
}
.sched .line {
	width: 100px;
	margin: 20px auto 120px auto;
}
.sched img {
	border:none;
	-webkit-box-shadow: 2px 7px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 7px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 7px 12px 0px rgba(0,0,0,0.75);
}
.sched hr {
	margin-top: 0px;
    margin-bottom: 40px;
    width: 100%; 
    border: 0;
    border-top: 2px solid #a2a1a1;
}

.sched .content1 {
	margin-top: 0px;
	margin-bottom: 60px;
	border-bottom: 2px solid #a2a1a1;
	min-height: 300px;
}

.sched h2 {
 	font-size: 23px;
 	letter-spacing: 4px;
 	color: #333;
 	margin-bottom: 30px;
}
.sched h3 {
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 2px;
	margin-top: 120px;
}
.sched .row .line {

	margin: 20px auto 60px auto;
} 
.sched p {
	font-size: 14px;
	line-height: 2em;
	margin-bottom: 10px;
}
/* ====================== Start Final =============== */
.final {
	margin: 60px 0;
}
.final .btn {
	margin-top: 50px;
	color: #fff;

	text-transform: uppercase;
	letter-spacing: 2px;
    background-color: #d01717;
    border-color: #b51818; 
    margin: auto;
    border-radius: 0;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 15px 48px;
}
/*============== Start Media ===============*/
@media(max-width: 991px) {

		.spend .content {
			text-align: center;
		}
		.spend .img {
			text-align: center;
			margin-top: 150px;
		}
		.spend .main-img {
			display: none;
		}
		.circle-img .circle-overlay {
			display: none;
		}
		.prop {
			text-align: center;
		}
		.fill {
			text-align: center;
		}
		.qulified {
			text-align: center;
		}
		.sched .allCon {
			text-align: center;
		}
	}
	/* ===================== Option Box ======================== */
.option-box { 
	top:100px;
	left:0;
	z-index:9999;
	position:fixed;
}
.option-box h4 {
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
.option-box .line {
	width: 50px;
	margin: 10px auto 15px auto;
}
.option-box .color-option { 
	display: none;
	float:left;
	background:#2b2c2d;
	padding:10px;
	width:200px;
}
.option-box .gear-check { 
	position:absolute;
    right: -42px;
    width: 42px;
    height: 46px;
    color: #f2f2f2;
    font-size: 26px;
    line-height: 46px;
	background:#323232;
	text-align:center;
	cursor:pointer;
}
.option-box .color-option ul li { 
	color:#00f; 
	width:20px; 
	height:20px; 
	display:inline-block; 
	margin-right:5px; 
	cursor:pointer; 
	margin-top:20px; 
}
.option-box .color-option h4 { 
	color:#e6e6e6; 
}
.option-box .color-option .special-heading:after { 
	content:""; 
	display:block; 
	position:absolute; 
	top:22px; 
	left:0; 
	border:1px solid #e6e6e6; 
	width:40px; 
	margin-top:10px; 
}

/* ====================== Define Page ========== */
.define {
	margin-top: 300px;
}
.define h2 {
	font-size: 41px;
	letter-spacing: 3px;
}
.de .redirect {
	display: none !important;
}

/* ============== Start Profile Page =========== */
.error{
    padding: 25px;
    background: #f00;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 200px;
}
.insertV .navbar{

	display: none;
}
.profile h4 {
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
}
.profile .p {
    margin: -11px 0 40px 70px !important;
    width: 28px;
}
.profile p{
	color: #fff !important;
}

.profile p span {
	color: #bd1818;
}