.line,
.login .btn:hover,
.login .btn:focus,
.features .btn:hover,
.features .btn:focus,
.vacation .content-form button,
.vacation .line,
.report .home1 .btn,
.login .btn,
.features .btn,
.comment .fields button,
.cd-headline.loading-bar .cd-words-wrapper::after,
.noti .btn,
.navbar .navbar-toggle {
	background-color: #076a7a !important;
}
.report .home1 .btn:hover,
.report .home1 .btn:focus
 {
	background-color: #fff !important;
	color: #076a7a;
}
.header .text h2 span,
.services .box-serv i,
.vip-customer .line,
.vacation .content-form option span,
.vacation .personal span,
.noti .btn:hover,
.noti .code {
	color: #076a7a !important
}
.login .btn:hover,
.login .btn:focus,
.features .btn:hover,
.features .btn:focus,
.report .home1 .btn,
.login .btn,
.features .btn,
.comment .fields button,
.vacation .content-form button,
.form-control:focus,
.navbar .navbar-toggle {
	border-color: #076a7a !important;
}

.comment .fields i {
	color: #076a7a !important;
}
.form-control:focus {
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(7, 106, 122, .7) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(7, 106, 122, .7) !important;
 }

.noti:hover i {
  color: #076a7a !important
}
.features .btn:hover {
	background-color: #fff !important;
	color: #076a7a;
}