.line,
.login .btn:hover,
.login .btn:focus,
.features .btn:hover,
.features .btn:focus,
.vacation .content-form button,
.vacation .line,
.report .home1 .btn,
.login .btn,
.features .btn,
.comment .fields button,
.cd-headline.loading-bar .cd-words-wrapper::after,
.noti .btn,
.navbar .navbar-toggle   {
	background: #39bace !important
}
.report .home1 .btn:hover,
.report .home1 .btn:focus
 {
	background-color: #fff !important;
	color: #39bace;
}
.header .text h2 span,
.services .box-serv i,
.vip-customer .line,
.vacation .content-form option span,
.vacation .personal span,
.noti .code {
	color: #39bace;
}
.login .btn:hover,
.login .btn:focus,
.features .btn:hover,
.features .btn:focus,
.report .home1 .btn,
.login .btn,
.features .btn,
.comment .fields button,
.vacation .content-form button,
.form-control:focus,
.navbar .navbar-toggle  {
	border-color: #39bace;
}

.comment .fields i {
	color: #39bace
}
.form-control:focus {
	border:none;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(57, 186, 206, .7);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(57, 186, 206, .7);
 }

.noti:hover i {
  color: #39bace !important;
}
.features .btn:hover {
	background-color: #fff !important;
	color: #39bace;
}