.btn {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-toolbar { 
    margin-left:-5px;
}
.btn-toolbar > .btn-group { 
    margin-left:5px;\
}

.btn-toolbar .btn-group { 
    float:left; 
}