/* ============ Some Fixes ============= */
.container:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

.container:before,
.container:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}
/* ================== End Fixes ====================*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
    padding: 5px 0;
    border-radius: 0;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 9999;
    border-color: transparent;
}
.container > .navbar-header,.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
   color: #e0dfdf;
}

.navbar-brand:hover,.navbar-brand:focus {
  text-decoration: none;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}


.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}


.navbar-nav > li > .dropdown-menu {
  padding: 10px 15px;
  min-width: 300px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar .navbar-brand:hover,.navbar .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar .navbar-nav > li > a:hover,.navbar .navbar-nav > li > a:focus {
  color: #bd1818;
  background-color: transparent;
}

.navbar .navbar-collapse {
  border-color: #e7e7e7;
}


.container:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after {
  clear: both;
}

.dropdown:hover,
.dropdown:focus
 {
  background-color: #333;
}
.dropdown a:hover,
.dropdown a:focus
 {
  color: #fff !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #333;
    color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
}
.navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 9999;
  border-color: transparent;


}
.navbar .navbar-brand {
  color: #f4f4f4;
  font-size: 20px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  background-color: transparent;
}
.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
    padding-top: 30px;
}
.navbar .navbar-nav > li > a {
  color: #f4f4f4;
  font-size: 17px;
  letter-spacing: 2px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}
/* ================ Navbar Small Collapsed ================== */

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  display: none;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
/*================= Fixed Nav ================*/
.navbar-fixed {
    position: fixed;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    background: #fff;
    color: #333;   

    text-align: center;

}

.navbar-fixed .navbar-nav li a {
    color: #5c6873;
    
}
.navbar-fixed .navbar-brand{
    color: #5c6873;
}
.navbar-fixed .navbar-brand:hover{
    color: #32c5d2;
}
.sr-only {
  position: absolute;
  color: #fff;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.navbar .navbar-toggle {
    cursor: pointer;
    color: #fff;

}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #333;
  border-color: #333;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
.nav:before, .nav:after, 
.navbar:before, 
.navbar:after, 
.navbar-header:before, 
.navbar-header:after, 
.navbar-collapse:before, 
.navbar-collapse:after {
  display: table;
    content: " ";
}
/* 
 ** ======================================
    End Navbar Fixed
 ** ========================================= */
 @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
 
 @media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }

  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

}


@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  }
  @media (min-width: 768px) {
  .container > .navbar-header,  .container > .navbar-collapse {
    margin-right: 0;
  }
}


/*============================== Start Notification ============================== */
.noti .num {
    top: -6px;
    position: absolute;
    left: 18px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    background: #9e1313;
    border-radius: 50%;
    padding: 0px 6px;
    transition: all 0.5s ease-in-out;
}
.noti {
  margin-top: 20px;
}
.noti a {
  text-decoration: none;
}
.noti:hover {
  background-color: transparent;
}
.noti {
  color: #fff;
}
.noti i {
  margin-left: 10px;
  margin-top: 5px;   
  color: #000;
}
.noti:hover i {
  cursor: pointer;
}
.noti:hover .num {
  background-color: #000;
}
.noti li {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 2px;
}
.noti .code {
  font-weight: bold;
}
.noti .b1:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #333;
    transform: rotate(-45deg);
    top: -3px;
    left: 247px;
    font-weight: bold;
}
.navbar-nav > li > .d2 {
  margin-top: 11px;
  margin-right: -8px;
}
.noti .btn {
    margin: auto;
    padding: 10px 20px;
    /* border-radius: 50%; */
    /* padding: 10px 1px; */
    width: 125px;
    border-radius: 50%;
    text-align: center;
    padding: 15px 10px;
    font-size: 18px;
    color: #fff !important;
    letter-spacing: 2px;
}
.noti .btn:hover {
  background-color: #fff;

}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}