 /* ================================================
	All Class Used For Valid By Javascript
 ===================================================  */
 body {
    transition: all 0.5s ease-in-out
 }
 .alert1 {
    color: #f00;
    border:none;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #f00;
    position: absolute;
        

 }
 .aLogin {
    /*top: 50%;*/
    margin-top: -35px;
    margin-bottom: 30px;
 }
 /* ============= Valid Java Script Class =============== */

.show {
	padding: 0 0 15px 0;
	margin-bottom:20px;
	opacity: 1 !important;

}
.m {
    margin-bottom: 150px;
}
.hide {
	opacity: 0 !important;
    margin: 0;
    padding: 0;
	display: none !important;
}
.form-group {
    position: relative;
}
.form-control:after {
    clear: both;
}